doctype html 
html 
    head
        title Page title
        link(rel="stylesheet", href="")
        
    body 
     
        div
            header 
                h1 The Page Title
                nav 
                    ul 
                    each page in ["home","about"]
                        li=page.toUpperCase()
            main 
            footer 